@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-background-color : #EDE8F5;
    --muted-background-color : #7091E6;
    --card-background-color : #fff3ff;

    --base-foreground-color : #000;
    --muted-foreground-color : #fff;

    --base-title-color : #19243f;
    --muted-title-color : #324169;

    --base-paragraph-color : #6e7894 ;
    --mute-paragraph-color : #FF9843;

    --base-button-background-color : #03346E ;
    --base-button-text-color : #fff;
    --base-button-border-color : #03346E;
    --base-button-background-hover-color : #1c5397;
    --base-button-text-hover-color : #fff;
    --base-button-border-hover-color : #03346E;

    --base-input-background-color : ;
    --base-input-text-color : ;
    --base-input-border-color : ;
    --base-input-background-active-color : ;
    --base-input-text-active-color : ;
    --base-input-border-active-color : ;

    --tag-background-color :#C6E7FF ;
    --tag-text-color : #4b7a9c ;
    --tag-border-color : #7da3d0;
    --tag-hover-background-color : #03346E;
    --tag-hover-text-color : #fff;
    --tag-hover-border-color : #03346E;
  }

  .dark-theme{
    --base-background-color : #151515;
    --muted-background-color : #7091E6;
    --card-background-color : #1f1f1f;

    --base-foreground-color : #ebebeb;
    --muted-foreground-color : #fff;

    --base-title-color : #fff;
    --muted-title-color : #e7e9f0;

    --base-paragraph-color : #81889b ;
    --mute-paragraph-color : #FF9843;

    --base-button-background-color : #03346E ;
    --base-button-text-color : #fff;
    --base-button-border-color : #03346E;
    --base-button-background-hover-color : #1c5397;
    --base-button-text-hover-color : #fff;
    --base-button-border-hover-color : #03346E;

    --base-input-background-color : ;
    --base-input-text-color : ;
    --base-input-border-color : ;
    --base-input-background-active-color : ;
    --base-input-text-active-color : ;
    --base-input-border-active-color : ;

    --tag-background-color :#3d4246 ;
    --tag-text-color : #dde5eb ;
    --tag-border-color : #5c6571;
    --tag-hover-background-color : #70777d;
    --tag-hover-text-color : #fff;
    --tag-hover-border-color : #70777d;
  }
}

body{
  background-color: var(--base-background-color);
  color: var(--base-foreground-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', serif;
}